* {
  margin: 0;
}
.bgImage {
  background-image: url("../../public/image/BetterImage.jpg");
  width: 702px;
  height: 700px;
}

.bgImageMun {
  background-image: url("../../public/image/BetterImage.jpg");
  width: 702px;
  height: 700px;
}